*{
    margin: 0;
    padding: 0;
}
html,body{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
button{
    margin-top: 50px;
}